<% include partials/header %>
<form action="/results" method="GET">
    <input type="text" name="movieName" placeholder="movie name">
    <!-- <input type="text" name="movieId" placeholder="movie id"> -->
    <button>Submit</button>
    <!-- bug: what if user enter both input -->
</form>
<% include partials/footer %>