<% include partials/header %>
<% data["Search"].forEach(function(movie) { %>
    <li><%= movie["Title"] %> - <%= movie["Year"] %></li>
<% }); %>
<a href="/">Search again!</a>
<% include partials/footer %>